@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --second-background-color: #e5e5e5;
  --bcg-color: #f5f4fa;
  --footer-bgc-color: #2f303a;
  --fill-icons: #afb1b8;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  h2 {
    margin-bottom: 50px;
  }
}

h3 {
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  h3 {
    margin-bottom: 10px;
  }
}

p {
  margin: 0;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.header__logo {
  color: #000000;
}

.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 3;
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__icon--close {
  display: none;
}

.js-menu-container.is-open ~ .mobile-menu__btn .mobile-menu__icon--close {
  display: block;
}
.js-menu-container.is-open ~ .mobile-menu__btn .mobile-menu__icon--open {
  display: none;
}

.mobile-menu__container {
  display: flex;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    padding: 48px 40px;
  }
  .mobile-menu__container.is-open {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__container {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__item + .nav__item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.nav__link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-decoration: none;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__link--active {
    position: relative;
    color: var(--accent-color);
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item + .contacts__item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

.contacts__link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 16px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts__link--focused {
    font-size: 34px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__icon:hover, .contacts__icon:focus {
    fill: currentColor;
  }
}

.social-network {
  display: flex;
}
@media screen and (min-width: 768px) {
  .social-network {
    display: none;
  }
}

.social-network__item + .social-network__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.social-network__link {
  text-decoration: none;
  color: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-mobile.jpg);
    background-size: 480px 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-tablet.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-desktop.jpg);
    background-size: 1600px 600px;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/img-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../images/img-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(../images/img-desktop@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: url(../images/img-mobile@3x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../images/img-tablet@3x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(../images/img-desktop@3x.jpg);
  }
}
.hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: flex;
  min-width: 200px;
  padding: 10px 24px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero-button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  min-height: 609px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 450px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-color);
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__form {
  width: 100%;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__list {
  position: relative;
  margin-bottom: 10px;
}
.modal__list:hover .modal__input, .modal__list:focus .modal__input {
  border: 1px solid var(--accent-color);
}
.modal__list:hover .modal__icon, .modal__list:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__box {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 45px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  right: 95%;
  transform: translate(50%, -50%);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__feedback {
  margin-bottom: 20px;
}

.modal__text {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.form__box {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .form__label {
    align-items: center;
    text-align: center;
  }
}

.form__icon {
  box-sizing: content-box;
  margin: 0;
  margin-right: 7px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(3px);
}
@media screen and (min-width: 1200px) {
  .form__icon {
    margin-left: 12px;
  }
}

.form__input {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.form__input:focus + .form__icon, .form__input:checked + .form__icon {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.form__input:hover + .form__icon {
  cursor: pointer;
}

.check-text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
  }
}

.modal-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.form__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}
.form__button:hover, .form__button:focus {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.features__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features__item + .features__item {
    margin-top: 30px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__box {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bcg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .features__box {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__box {
    max-width: 270px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__image {
  display: flex;
}

.work-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bcg-color);
}

@media screen and (min-width: 768px) {
  .persons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.persons__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .persons__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .persons__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .persons__item + .persons__item {
    margin-top: 30px;
  }
}

.persons__box {
  padding-top: 30px;
  padding-bottom: 24px;
}

.persons__title {
  font-weight: 500;
  color: var(--title-text-color);
}

.persons__title,
.persons__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .persons__text {
    margin-bottom: 16px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  margin-right: 32px;
  margin-left: 32px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.persons__img {
  width: 100%;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--fill-icons);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover, .social__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover, .social__icon:focus {
  fill: var(--white-color);
}

.clients__list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  height: 92px;
  border: 1px solid var(--fill-icons);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  color: var(--fill-icons);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc-color);
}

.footer__box {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address__box {
    margin-right: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .address__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address__box {
    margin-right: 70px;
  }
}

.footer__logo {
  color: var(--white-color);
  margin-bottom: 20px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .address__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__link {
  margin-bottom: 9px;
  color: var(--white-color);
  text-decoration: none;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-color);
}

.join__box {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .join__box {
    text-align: center;
    align-items: center;
  }
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .join__title {
    text-align: center;
  }
}

.join__list {
  display: flex;
}

.join__link {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.sub__box {
  margin-top: 12px;
}
@media screen and (max-width: 1199px) {
  .sub__box {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .sub__box {
    margin-left: auto;
  }
}

.sub__form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .sub__form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .sub--position {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .sub--position {
    margin-right: 12px;
  }
}

.sub__label {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  color: var();
}

.sub__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bgc-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.sub__input:not(:-moz-placeholder-shown) + .sub__label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.sub__input:not(:-ms-input-placeholder) + .sub__label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.sub__input:not(:placeholder-shown) + .sub__label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
@media screen and (min-width: 768px) {
  .sub__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub__input {
    width: 358px;
  }
}

.button {
  display: flex;
  min-width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-right: 10px;
}

.portfolio__list {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__item + .portfolio__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

.portfolio__button {
  min-width: 73px;
  padding: 6px 25px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  background-color: var(--bcg-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .portfolio__button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.project {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project__item {
  width: 100%;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    width: 370px;
  }
}
.project__item:hover, .project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link {
  background-color: var(--white-color);
  text-decoration: none;
}

.card__box {
  position: relative;
  overflow: hidden;
}
.card__box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__img {
    width: 370px;
  }
}

.card__link:hover .card__box::before,
.card__link:focus .card__box::before {
  transform: translateY(0%);
  opacity: 1;
}
.card__link:hover .card__text,
.card__link:focus .card__text {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0%);
}

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(160%);
  width: 322px;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.description__box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.description__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.description__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */