.address__box {
  margin-right: 70px;
}
.footer__logo {
  color: var(--white-color);
  margin-bottom: 20px;
}
.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__item + .address__item {
  margin-top: 9px;
}
.address__link {
  margin-bottom: 9px;

  color: var(--white-color);
  text-decoration: none;
}
.address__contacts {
  color: #ffffff99;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}