.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-mobile.jpg);
    background-size: 480px 400px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-tablet.jpg);
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-desktop.jpg);
    background-size: 1600px 600px;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/img-mobile@2x.jpg);
    @media screen and (min-width: 768px) {
      background-image: url(../images/img-tablet@2x.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/img-desktop@2x.jpg);
    }
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: url(../images/img-mobile@3x.jpg);
    @media screen and (min-width: 768px) {
      background-image: url(../images/img-tablet@3x.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/img-desktop@3x.jpg);
    }
  }
}

.hero-title {
  max-width: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  display: flex;
  min-width: 200px;
  padding: 10px 24px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  align-items: center;
  text-align: center;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
